In [1]:
import os
import sys
import pandas as pd
import numpy as np

# 20230302_dummy_check_uszcb

The purpose of this notebook is to perform initial analysis of the `uszcb.csv` file generated by `final_proj.py`.

In [44]:
df = pd.read_csv('./data/uszcb.csv', header=[0, 1], index_col=0, parse_dates=[0], dtype=float)
df.columns = pd.MultiIndex.from_tuples([(int(float(tenor)), str(metric)) for tenor, metric in df.columns])
df

                4                                                             \
                 fwd fwd_factor pr_s      pr_t      spot       val       zcb
date
1990-01-03       NaN        NaN  1.0       NaN       NaN       NaN       NaN
1990-01-31       NaN        NaN  1.0       NaN       NaN       NaN       NaN
1990-02-28       NaN        NaN  1.0       NaN       NaN       NaN       NaN
1990-03-28       NaN        NaN  1.0       NaN       NaN       NaN       NaN
1990-04-25       NaN        NaN  1.0       NaN       NaN       NaN       NaN
...              ...        ...  ...       ...       ...       ...       ...
2022-08-03 -0.119827   1.009260  1.0  1.009260  0.021928  0.994304  0.021928
2022-08-31 -0.130644   1.010100  1.0  1.010100  0.023921  0.990825  0.023921
2022-09-28 -0.143068   1.011066  1.0  1.011066  0.026214  0.990001  0.026214
2022-10-26 -0.192061   1.014884  1.0  1.014884  0.035284  0.989055  0.035284
2022-11-23 -0.223152   1.017314  1.0  1.017314  0.041065  0.985335  0.041065

                13                         ...      1040                      \
                 fwd fwd_factor      pr_s  ...      spot       val       zcb
date                                       ...
1990-01-03       NaN        NaN       NaN  ...       NaN       NaN       NaN
1990-01-31       NaN        NaN       NaN  ...       NaN       NaN       NaN
1990-02-28       NaN        NaN       NaN  ...       NaN       NaN       NaN
1990-03-28       NaN        NaN       NaN  ...       NaN       NaN       NaN
1990-04-25       NaN        NaN       NaN  ...       NaN       NaN       NaN
...              ...        ...       ...  ...       ...       ...       ...
2022-08-03  0.028307   0.997825  1.008414  ...  0.031596  1.000174  0.032211
2022-08-31  0.035084   0.997305  1.010017  ...  0.035184  1.001135  0.035658
2022-09-28  0.041563   0.996808  1.011594  ...  0.039669  0.998799  0.039703
2022-10-26  0.046646   0.996418  1.013716  ...  0.043656  1.005821  0.043957
2022-11-23  0.046646   0.996418  1.014418  ...  0.039570  1.000297  0.039532

                1560                                                     \
                 fwd fwd_factor      pr_s      pr_t      spot       val
date
1990-01-03       NaN        NaN       NaN       NaN  0.080136       NaN
1990-01-31       NaN        NaN       NaN       NaN  0.084322       NaN
1990-02-28       NaN        NaN       NaN       NaN  0.085119       NaN
1990-03-28       NaN        NaN       NaN       NaN  0.084422       NaN
1990-04-25       NaN        NaN       NaN       NaN  0.089505       NaN
...              ...        ...       ...       ...       ...       ...
2022-08-03  0.027078   0.997919  0.995507  0.993435  0.029503  1.004196
2022-08-31  0.029962   0.997698  0.990324  0.988044  0.032593  0.996868
2022-09-28  0.034655   0.997338  0.984274  0.981654  0.036878  0.996184
2022-10-26  0.040376   0.996899  0.991598  0.988523  0.041762  1.010130
2022-11-23  0.035325   0.997286  0.986672  0.983995  0.037277  0.998128


                 zcb
date
1990-01-03       NaN
1990-01-31       NaN
1990-02-28       NaN
1990-03-28       NaN
1990-04-25       NaN
...              ...
2022-08-03  0.028984
2022-08-31  0.031566
2022-09-28  0.035111
2022-10-26  0.040476
2022-11-23  0.035712

[430 rows x 77 columns]

In [42]:
df.columns = [(int(float(tenor)), str(metric)) for tenor, metric in df.columns]

[(4, 'fwd'),
 (4, 'fwd_factor'),
 (4, 'pr_s'),
 (4, 'pr_t'),
 (4, 'spot'),
 (4, 'val'),
 (4, 'zcb'),
 (13, 'fwd'),
 (13, 'fwd_factor'),
 (13, 'pr_s'),
 (13, 'pr_t'),
 (13, 'spot'),
 (13, 'val'),
 (13, 'zcb'),
 (26, 'fwd'),
 (26, 'fwd_factor'),
 (26, 'pr_s'),
 (26, 'pr_t'),
 (26, 'spot'),
 (26, 'val'),
 (26, 'zcb'),
 (52, 'fwd'),
 (52, 'fwd_factor'),
 (52, 'pr_s'),
 (52, 'pr_t'),
 (52, 'spot'),
 (52, 'val'),
 (52, 'zcb'),
 (104, 'fwd'),
 (104, 'fwd_factor'),
 (104, 'pr_s'),
 (104, 'pr_t'),
 (104, 'spot'),
 (104, 'val'),
 (104, 'zcb'),
 (156, 'fwd'),
 (156, 'fwd_factor'),
 (156, 'pr_s'),
 (156, 'pr_t'),
 (156, 'spot'),
 (156, 'val'),
 (156, 'zcb'),
 (260, 'fwd'),
 (260, 'fwd_factor'),
 (260, 'pr_s'),
 (260, 'pr_t'),
 (260, 'spot'),
 (260, 'val'),
 (260, 'zcb'),
 (364, 'fwd'),
 (364, 'fwd_factor'),
 (364, 'pr_s'),
 (364, 'pr_t'),
 (364, 'spot'),
 (364, 'val'),
 (364, 'zcb'),
 (520, 'fwd'),
 (520, 'fwd_factor'),
 (520, 'pr_s'),
 (520, 'pr_t'),
 (520, 'spot'),
 (520, 'val'),
 (520, 'zcb'),
 (1040, 'fwd'),
 (1040, 'fwd_factor'),
 (1040, 'pr_s'),
 (1040, 'pr_t'),
 (1040, 'spot'),
 (1040, 'val'),
 (1040, 'zcb'),
 (1560, 'fwd'),
 (1560, 'fwd_factor'),
 (1560, 'pr_s'),
 (1560, 'pr_t'),
 (1560, 'spot'),
 (1560, 'val'),
 (1560, 'zcb')]